@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold tracking-tight;
  }

  h2 {
    @apply text-3xl md:text-4xl font-bold tracking-tight;
  }

  h3 {
    @apply text-2xl md:text-3xl font-semibold tracking-tight;
  }

  p {
    @apply text-base md:text-lg leading-relaxed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

.dark body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}